* {
    padding: 0;
    margin: 0;
}

/* NAVBAR STARTS HERE */
body{
    background-color: aqua;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(153, 170, 146);
    height: 80px;
    /* width: 250%; */
}
.dev{
    margin-left: 40%;  
    color: rgb(255, 116, 2);
}
.lor{
    margin-left: 30%;
}
.logo {
    width: 120px;
}
.com{
color: rgb(255, 255, 0);
}
.nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_links ul li:hover {
    cursor: pointer;
    color: orangered;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    padding: 10px;
    border-radius: 20px;
}

.nav_links ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 20px;
}
.nav_links ul li{
    padding: 10px;

}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


/* MAIN STARTS HERE */

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(107, 107, 231);
    height: 400px;
}

.sub {
    color: rgb(233, 255, 40);
}

/* GALLERY STRATS HERE */

.gallery img {
    width: 670px;
    height: 470px;
}

/* FOOTER STARTS HERE */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(155, 169, 180);
    padding: 10px 30px;
}

footer .col1{
    width: 350px;
}

footer .col2 ul li{
    list-style: none;
    gap: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 20px;
}
footer .col3 ul li{
    list-style: none;
    gap: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 20px;
}
.heed img{
    display: flex;
}
.heed{
    display: flex;
    gap: 30px;
}







  @media (max-width:470px) {
       .logo{
        
 }
 
 .ul{
    /* width: 100%; */
 }
.main-content{
    width: 100px;
}
.women{
    width: 100px;
    margin-left: -170px;
}
.search{
    width: 20px;
    height: 20px;
}
.people{
    width: 1px;
    height: 20px;
}
.world{
    width: 35px;
    height: 20px;
}
.dev{
    font-size: 20px;
    margin-left: 70px;
}
.main{
width: 100%;
background-color: rgb(129, 134, 129);
height: 200px;
/* color: white; */
}
nav{
   height: 50px;
}
.body{
width: 100%;

}

.sub{
    color: white;
    font-size: 10px;
    margin-left: -70px;
}
.com{
    color: white;
    font-size: 15px;
    margin-left: -70px;
}
.gallery{
    width: 100%;
    height: 200px;
}
.gallery img {
    width: 100%;
    height: 150px;
}
.h1{
    width: 360px;
    /* margin-left: 150px; */
    
}
.h77{
    font-size: 25px;
    height: auto;
    /* margin-left: 250px; */
    
}
.h2{
    width: 360px;
    /* margin-left: 150px; */
}
.h22{
    font-size: 25px;
    height: auto;
    /* margin-left: 250px; */
}
.h3{
    width: 360px;
    /* margin-left: 150px; */
}
.h33{
    font-size: 25px;
    height: auto;
    /* margin-left: 250px; */
}
.h4{
    width: 360px;
    /* margin-left: 150px; */
}
.h44{
    font-size: 25px;
    height: auto;
    /* margin-left: 250px; */
}

.heed{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;

}
/* .head1{
    margin-left: 150px;
}
.head2{
    margin-left: 150px;
}
.head3{
    margin-left: 150px;
}
.head4{
    margin-left: 150px;
} */
.logoo{
    width: 150px;
}

footer{
    /* width: 250%; */
    background-color: rgb(230, 213, 213);
}
.foot1{
    margin-left: 20px;

}
.lo{
margin-top:260px ;
margin-left:-90px ;
}



        
    }
    